.navbar{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #4F27BF;
  padding: 1em 1.6em;
  width: 100%;
  min-height: 4em;

  div {
    display: flex;
    align-items: center;
    color: white;

    &:hover {
      opacity: 0.7;
    }
  }

  svg {
    margin-right: 1em;
    width: 2em;
    height: auto;
  }
}